In [1]:
import pandas as pd
import numpy as np
air = pd.read_csv("./Data/Air_Traffic_Passenger_Statistics.csv")

In [4]:
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [5]:
air.set_index("Operating Airline","Activity Period",inplace=True)
air.head(10)

,Activity Period,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,,,,,,,,,,,
ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
Air Canada,200507,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
Air Canada,200507,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090
Air China,200507,CA,Air China,CA,International,Asia,Deplaned,Other,International,G,6263
Air China,200507,CA,Air China,CA,International,Asia,Enplaned,Other,International,G,5500
Air France,200507,AF,Air France,AF,International,Europe,Deplaned,Other,International,A,12050
Air France,200507,AF,Air France,AF,International,Europe,Enplaned,Other,International,A,11638
Air New Zealand,200507,NZ,Air New Zealand,NZ,International,Australia / Oceania,Deplaned,Other,International,G,4998

In [6]:
air.reset_index(inplace=True)
air.head(10)

,Operating Airline,Activity Period,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,Air Canada,200507,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,Air Canada,200507,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090
5,Air China,200507,CA,Air China,CA,International,Asia,Deplaned,Other,International,G,6263
6,Air China,200507,CA,Air China,CA,International,Asia,Enplaned,Other,International,G,5500
7,Air France,200507,AF,Air France,AF,International,Europe,Deplaned,Other,International,A,12050
8,Air France,200507,AF,Air France,AF,International,Europe,Enplaned,Other,International,A,11638
9,Air New Zealand,200507,NZ,Air New Zealand,NZ,International,Australia / Oceania,Deplaned,Other,International,G,4998

In [7]:
air.set_index("Activity Period","Operating Airline",inplace=True)
air.head(10)

,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Period,,,,,,,,,,,
200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090
200507,Air China,CA,Air China,CA,International,Asia,Deplaned,Other,International,G,6263
200507,Air China,CA,Air China,CA,International,Asia,Enplaned,Other,International,G,5500
200507,Air France,AF,Air France,AF,International,Europe,Deplaned,Other,International,A,12050
200507,Air France,AF,Air France,AF,International,Europe,Enplaned,Other,International,A,11638
200507,Air New Zealand,NZ,Air New Zealand,NZ,International,Australia / Oceania,Deplaned,Other,International,G,4998

In [8]:
air.sort_index(ascending=[False,True],inplace=True)
air.head(10)

,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Period,,,,,,,,,,,
200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
200507,TACA,TA,TACA,TA,International,Central America,Enplaned,Other,International,G,7031
200507,TACA,TA,TACA,TA,International,Central America,Deplaned,Other,International,G,6324
200507,Sun Country Airlines,SY,Sun Country Airlines,SY,Domestic,US,Enplaned,Low Fare,Terminal 1,B,4784
200507,Sun Country Airlines,SY,Sun Country Airlines,SY,Domestic,US,Deplaned,Low Fare,Terminal 1,B,4827
200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,International,Canada,Enplaned,Other,Terminal 3,F,3633
200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,International,Canada,Deplaned,Other,Terminal 3,F,3688
200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Enplaned,Other,Terminal 3,F,102023
200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Deplaned,Other,Terminal 3,F,103279
200507,SkyWest Airlines,OO,Delta Air Lines,DL,Domestic,US,Enplaned,Other,Terminal 1,C,6586

In [9]:
air.reset_index(inplace=True)
air.head(10)

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,TACA,TA,TACA,TA,International,Central America,Enplaned,Other,International,G,7031
2,200507,TACA,TA,TACA,TA,International,Central America,Deplaned,Other,International,G,6324
3,200507,Sun Country Airlines,SY,Sun Country Airlines,SY,Domestic,US,Enplaned,Low Fare,Terminal 1,B,4784
4,200507,Sun Country Airlines,SY,Sun Country Airlines,SY,Domestic,US,Deplaned,Low Fare,Terminal 1,B,4827
5,200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,International,Canada,Enplaned,Other,Terminal 3,F,3633
6,200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,International,Canada,Deplaned,Other,Terminal 3,F,3688
7,200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Enplaned,Other,Terminal 3,F,102023
8,200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Deplaned,Other,Terminal 3,F,103279
9,200507,SkyWest Airlines,OO,Delta Air Lines,DL,Domestic,US,Enplaned,Other,Terminal 1,C,6586

In [11]:
air.set_index(["Activity Period","Operating Airline","Activity Type Code"],inplace=True)
air.head(10)

                                                        Operating Airline IATA Code  \
Activity Period Operating Airline    Activity Type Code
200507          ATA Airlines         Deplaned                                    TZ
                TACA                 Enplaned                                    TA
                                     Deplaned                                    TA
                Sun Country Airlines Enplaned                                    SY
                                     Deplaned                                    SY
                SkyWest Airlines     Enplaned                                    OO
                                     Deplaned                                    OO
                                     Enplaned                                    OO
                                     Deplaned                                    OO
                                     Enplaned                                    OO

                                                                        Published Airline  \
Activity Period Operating Airline    Activity Type Code
200507          ATA Airlines         Deplaned                                ATA Airlines
                TACA                 Enplaned                                        TACA
                                     Deplaned                                        TACA
                Sun Country Airlines Enplaned                        Sun Country Airlines
                                     Deplaned                        Sun Country Airlines
                SkyWest Airlines     Enplaned            United Airlines - Pre 07/01/2013
                                     Deplaned            United Airlines - Pre 07/01/2013
                                     Enplaned            United Airlines - Pre 07/01/2013
                                     Deplaned            United Airlines - Pre 07/01/2013
                                     Enplaned                             Delta Air Lines

                                                        Published Airline IATA Code  \
Activity Period Operating Airline    Activity Type Code
200507          ATA Airlines         Deplaned                                    TZ
                TACA                 Enplaned                                    TA
                                     Deplaned                                    TA
                Sun Country Airlines Enplaned                                    SY
                                     Deplaned                                    SY
                SkyWest Airlines     Enplaned                                    UA
                                     Deplaned                                    UA
                                     Enplaned                                    UA
                                     Deplaned                                    UA
                                     Enplaned                                    DL

                                                           GEO Summary  \
Activity Period Operating Airline    Activity Type Code
200507          ATA Airlines         Deplaned                 Domestic
                TACA                 Enplaned            International
                                     Deplaned            International
                Sun Country Airlines Enplaned                 Domestic
                                     Deplaned                 Domestic
                SkyWest Airlines     Enplaned            International
                                     Deplaned            International
                                     Enplaned                 Domestic
                                     Deplaned                 Domestic
                                     Enplaned                 Domestic

                                                              GEO Region  \
Activity Period Operating Airline    Activity Type Code
200507          ATA Airlines         Deplaned                         US
                TACA                 Enplaned            Central America
                                     Deplaned            Central America
                Sun Country Airlines Enplaned                         US
                                     Deplaned                         US
                SkyWest Airlines     Enplaned                     Canada
                                     Deplaned                     Canada
                                     Enplaned                         US
                                     Deplaned                         US
                                     Enplaned                         US

                                                        Price Category Code  \
Activity Period Operating Airline    Activity Type Code
200507          ATA Airlines         Deplaned                      Low Fare
                TACA                 Enplaned                         Other
                                     Deplaned                         Other
                Sun Country Airlines Enplaned                      Low Fare
                                     Deplaned                      Low Fare
                SkyWest Airlines     Enplaned                         Other
                                     Deplaned                         Other
                                     Enplaned                         Other
                                     Deplaned                         Other
                                     Enplaned                         Other

                                                              Terminal  \
Activity Period Operating Airline    Activity Type Code
200507          ATA Airlines         Deplaned               Terminal 1
                TACA                 Enplaned            International
                                     Deplaned            International
                Sun Country Airlines Enplaned               Terminal 1
                                     Deplaned               Terminal 1
                SkyWest Airlines     Enplaned               Terminal 3
                                     Deplaned               Terminal 3
                                     Enplaned               Terminal 3
                                     Deplaned               Terminal 3
                                     Enplaned               Terminal 1

                                                        Boarding Area  \
Activity Period Operating Airline    Activity Type Code
200507          ATA Airlines         Deplaned                       B
                TACA                 Enplaned                       G
                                     Deplaned                       G
                Sun Country Airlines Enplaned                       B
                                     Deplaned                       B
                SkyWest Airlines     Enplaned                       F
                                     Deplaned                       F
                                     Enplaned                       F
                                     Deplaned                       F
                                     Enplaned                       C

                                                         Passenger Count
Activity Period Operating Airline    Activity Type Code
200507          ATA Airlines         Deplaned                      27271
                TACA                 Enplaned                       7031
                                     Deplaned                       6324
                Sun Country Airlines Enplaned                       4784
                                     Deplaned                       4827
                SkyWest Airlines     Enplaned                       3633
                                     Deplaned                       3688
                                     Enplaned                     102023
                                     Deplaned                     103279
                                     Enplaned                       6586