In [3]:
import pandas as pd
import numpy as np
surveys = pd.read_csv("./Data/StackOverflowDeveloperSurvey2018.csv",
usecols=['Country','Gender','OperatingSystem'],
low_memory=False)

In [9]:
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [11]:
surveys.Country.is_unique

False

In [18]:
surveys.Country.unique() [0:5]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria'], dtype=object)

In [19]:
surveys.Country.nunique()

183

In [28]:
duplicatesKeepFirst =surveys.duplicated(subset="Country")

In [22]:
len(surveys.Country.unique())

184

In [29]:
surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [30]:
len(surveys[~duplicatesKeepFirst])

184

In [31]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem'],inplace=True)

In [32]:
surveys.query("Country == 'Poland'")

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN