In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
frame = pd.read_csv('./data/mcdonalds.csv',usecols=['Item','Category','Serving Size','Calories','TotalFat'])

In [3]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [4]:
has400CalOrMore = frame["Calories"] >=400

In [5]:
has400CalOrMore[:5]

0    False
1    False
2    False
3     True
4     True
Name: Calories, dtype: bool

In [19]:
frame.where(has400CalOrMore).head()

,Category,Item,Serving Size,Calories,TotalFat
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [7]:
frame.where(has400CalOrMore).head().dropna(how='all')

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [9]:
frame.where(has400CalOrMore).head().dropna(how='all').head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [13]:
frame.query('Category == "Desserts"').head()

     Category                   Item     Serving Size  Calories  TotalFat
103  Desserts        Baked Apple Pie    2.7 oz (77 g)       250      13.0
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5
107  Desserts       Hot Fudge Sundae   6.3 oz (179 g)       330       9.0

In [15]:
frame.query('Category in["Desserts","Beverages"]').head(20)

,Category,Item,Serving Size,Calories,TotalFat
103,Desserts,Baked Apple Pie,2.7 oz (77 g),250,13.0
104,Desserts,Chocolate Chip Cookie,1 cookie (33 g),160,8.0
105,Desserts,Oatmeal Raisin Cookie,1 cookie (33 g),150,6.0
106,Desserts,Kids Ice Cream Cone,1 oz (29 g),45,1.5
107,Desserts,Hot Fudge Sundae,6.3 oz (179 g),330,9.0
108,Desserts,Hot Caramel Sundae,6.4 oz (182 g),340,8.0
109,Desserts,Strawberry Sundae,6.3 oz (178 g),280,6.0
110,Beverages,Coca-Cola Classic (Small),16 fl oz cup,140,0.0
111,Beverages,Coca-Cola Classic (Medium),21 fl oz cup,200,0.0
112,Beverages,Coca-Cola Classic (Large),30 fl oz cup,280,0.0
113,Beverages,Coca-Cola Classic (Child),12 fl oz cup,100,0.0
114,Beverages,Diet Coke (Small),16 fl oz cup,0,0.0
115,Beverages,Diet Coke (Medium),21 fl oz cup,0,0.0
116,Beverages,Diet Coke (Large),30 fl oz cup,0,0.0
117,Beverages,Diet Coke (Child),12 fl oz cup,0,0.0
118,Beverages,Dr Pepper (Small),16 fl oz cup,140,0.0
119,Beverages,Dr Pepper (Medium),21 fl oz cup,190,0.0
120,Beverages,Dr Pepper (Large),30 fl oz cup,270,0.0
121,Beverages,Dr Pepper (Child),12 fl oz cup,100,0.0
122,Beverages,Diet Dr Pepper (Small),16 fl oz cup,0,0.0

In [17]:
frame.query('Category == "Desserts" and Calories <200').head()

     Category                   Item     Serving Size  Calories  TotalFat
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5