In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
numbers = [1,2,3,11,12,13]

In [3]:
numbers

[1, 2, 3, 11, 12, 13]

In [4]:
 # numbers > 10

TypeError: '>' not supported between instances of 'list' and 'int'

In [5]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [6]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [7]:
numSeries.where(numSeries > 10)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [10]:
numSeries.where(numSeries > 10, other = -1)

0    -1
1    -1
2    -1
3    11
4    12
5    13
dtype: int64

In [11]:
numSeries.where(numSeries > 10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [12]:
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [13]:
numSeries.where(numSeries > 10, inplace = True)

In [14]:
numSeries

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [15]:
numSeries.dropna(inplace=True)

In [16]:
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [17]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [18]:
numSeries.where(numSeries > 10, inplace=True).dropna(inplace=True)

AttributeError: 'NoneType' object has no attribute 'dropna'

In [19]:
numSeries.where(numSeries > 10, inplace=True)
numSeries.dropna(inplace=True)

In [20]:
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [21]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [22]:
numSeries.filter(items=[0,2,4])

0     1
2     3
4    12
dtype: int64

In [23]:
discountCodes = ['a','b','c','d']
discountValues = [0.05, 0.07, 0.1, 0.2]
s= pd.Series(discountValues, discountCodes)

In [24]:
filter = s>0.1
s.where(filter)

a    NaN
b    NaN
c    NaN
d    0.2
dtype: float64