In [2]:
import pandas as pd
import random as rd

In [3]:
aircraftsDict = { 'PYT001':'Airbus 320',
'PYT002':'Boeing 737',
'PYT003':'Airbus 321'}

In [4]:
aircrafts = pd.Series(aircraftsDict)
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [5]:
flightsList = []

In [14]:
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index)) 
flightsList[:5]

['PYT002', 'PYT002', 'PYT003', 'PYT001', 'PYT001']

In [16]:
flights = pd.Series(flightsList)
flights.head()

0    PYT002
1    PYT002
2    PYT003
3    PYT001
4    PYT001
dtype: object

In [19]:
flights_aircrafts = flights.map(aircrafts)
flights_aircrafts

0      Boeing 737
1      Boeing 737
2      Airbus 321
3      Airbus 320
4      Airbus 320
          ...
795    Airbus 321
796    Airbus 321
797    Airbus 320
798    Airbus 320
799    Airbus 321
Length: 800, dtype: object